{% extends "base.html.twig" %}

{% block body %}
    
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for article in articles %}    
            <div class="carousel-item active">
                <img src="{{ article.imageUrl }}" class="bd-placeholder-img" width="100%" height="100%" alt="L'immagine dell'articolo {{ article.title }}">
                
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>{{ article.title }}</h1>
                        <p class="opacity-75">
                            {% if article.content|length > 100 %}
                                {{ article.content|slice(0, 30) ~ '...' }}
                            {% else %}
                                {{ article.content }}
                            {% endif %}
                        <p><a class="btn btn-lg btn-primary" href="{{ path('app_article') }}">Leggi Tutti gli articoli</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for article in articles %}    
            <div class="col-lg-4">
                <img src="{{ article.imageUrl }}" class="bd-placeholder-img rounded-circle" width="140" height="140"  alt="L'immagine dell'articolo {{ article.title }}">
                <h2 class="fw-normal">{{ article.title }}</h2>
                {# <p>{{ article.content }}</p> #}
               <p>
                   {% if article.content|length > 100 %}
                       {{ article.content|slice(0, 100) ~ '...' }}
                   {% else %}
                       {{ article.content }}
                   {% endif %}
               </p> 
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        {% endfor %}
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    {% block featurettes %}
        {% include "home/featurettes.html.twig" %}
    {% endblock %}

    

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock body %}
