{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4"> <!-- 3 articoli per riga -->
                    <div class="card mb-4 shadow-sm">
                        <!-- Immagine dell'articolo -->
                        <img src="{{ article.imageUrl }}" alt="Image article : {{ article.title }}" 
                        class="card-img-top article-image" style="object-fit: cover; height: 200px;">

                        <div class="card-body">
                            <p class="card-text">
                                {% if article.content|length > 100 %}
                                    {{ article.content|slice(0, 100) ~ '...' }}
                                {% else %}
                                    {{ article.content }}
                                {% endif %}
                            </p>

                            <!-- Immagine e informazioni dell'autore -->
                            <div class="d-flex align-items-center mb-2">
                                <img src="{{ article.author.profile.picture }}" alt="Author profile picture" 
                                class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                                <strong>{{ article.author.lastname|upper }}</strong> 
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('article_view', {id: article.id} ) }}" class="btn btn-sm btn-outline-secondary">Leggi</a>
                                    <a href="{{ path('article_edit', {id: article.id} ) }}" class="btn btn-sm btn-outline-secondary">Modifica</a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Pagination links -->
{{ include('_partials/_paginator.html.twig') }}
{% endblock %}
